syntax: glob
build
.classpath
.project
.settings
.springBeans
*.orig
*.rej
build.properties
*.iml
.idea
*.swp
*~
rebel.xml
target/*
*/target/*
*/$*
*.log
*.log.*
*.todo
.DS_Store
*/overlays/**
syntax: regexp
desktop\.ini
package-lock.json
nodejs/*
node_modules/*
/.idea/